a:visited {
    color: #008000;
}

a:active {
    color: #ff0000;
}

a {
    color: #ffa500;
}

a:hover {
    background-color: #008000;
}

div::first-letter {
    color: #ff0000;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #808080;
}

p,
.destacada {
    background-color: #ffa500;
}

p,
strong.especial {
    color: #0000ff;
}

h1 {
    background-color: #008000;
    color: #ffffff;
}

p,
#negriña {
    background-color: #000000;
    color: #ffffff;
}

h2.cabe,
h3.cabe {
    background-color: #0000ff;
    color: #000000;
}