body {
    border: 1px solid black;
}

div {
    display: inline-block;
    background-color: blue;
    width: 200px;
    height: 200px;
    color: aliceblue;
    visibility: hidden;
}

span {
    display: none;
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
    color: aliceblue;
}