a:link{
    color: aquamarine;
}
a:visited{
    color: grey;
}
a:active{
    color: red;
}
a:hover{
    background-color: blue;
}

ul li:first-letter{
    color: lightblue;
}

ul::first-line{
    color: green;
    font-size: 1.3rem;
}

ul li:nth-child(odd){
    color: cyan;
}
ul li:nth-child(even){
    color: darkgreen;
}
ul li:nth-child(3){
    color: yellow;
}
