* {
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    height: 75vh;
    width: 75%;
    margin: 0 auto;

    display: grid;
    grid: .6fr .6fr /1fr 1fr 1fr;/* the first is rows, the second is columns*/
    column-gap: 1px;
    row-gap: 1px;
    background-color: darkblue;
}

.item {
    font-size: 24pt;
}

#item01 {
    background-color: lightcoral;
}

#item02 {
    background-color: lightgreen;
}

#item03 {
    background-color: lightblue;
}

#item04 {
    background-color: lightyellow;
}

#item05 {
    background-color: plum;
}

#item06 {
    background-color: cornflowerblue;
}