body{
    border: 1px solid;
}

h1{
    background: linear-gradient(to right, #ff0000, #0000ff);
}

p::selection{
    background: #ff0000;
    color: #0000ff;
}


#ima{
    width: min-content;
    margin: 0 auto;
}

#bandas{
    list-style-type: none;    
    text-align: center;
}
#maiden::before, #maiden::after{
    content:"🎸🎸"
}
#sabbath::before, #sabbath::after{
    content: "🪘🪘";
}
#motorhead::before, #motorhead::after{
    content: "🎤🎤";
}